
html,body,p {
  font-family: Arial, Verdana, sans-serif;
  color: #666;
  font-size: 14px;
  margin: auto;
  width: 100%;
}

.userInfoBlock a, .content a {
  color: #20b2e2;
  text-decoration: none;
}


.userInfoBlock a:hover, .userInfoBlock a:focus,
.content a:hover, .content a:focus
{
  color: #000000;
}

.header{
  margin-top: 3em;
}

/* Set the space for the timeline display */
.timeline-content {
  height: 700px;
  margin: auto;
  padding: 0.4em 1em 2em 1em;
}


.content{
  margin: auto;
  padding: 1em 1em 1em 1em;
  width: 800px;
}


.contentHelp{
  padding: 1em 0 1em 0;
}



.footerText{
  background-color: black;  
  padding: 1em;
  margin-top: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 15;
  font-size: 0.7em;
  text-align: center;
  color: white;
}


.userInfoBlock{
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  padding: 0.5em;
  color: #aaa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content h1 {
  color: #000;
  margin: 0.5em;
  font-size: 1.4em;
}

.pageTitle h2 {
  color: #666;
  margin: 0;
  font-size: 1.3em;
  border-bottom: solid 1px gray;
}

.content h3 {
  color: #666;
  margin: 0;
  font-size: 1.2em;
}

.alarm {
  color: #d1550d;
  font-size: 1.1em;
}

.helpItem li{
  line-height: 1.7em;
}

.requestButton{
  margin:1px; 
  width: 150px;
}


/* MENU BAR RESPONSIVE */

.bar button, .iBlock button, .rightBlock button, input[type=submit] {
  border: none;
  display: inline-block;
  padding: 14px 12px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #20b2e2;
  text-align: center;
  cursor: pointer;
  font-size: large;
  border-radius: 4px;
  margin-bottom: 0.1em;
}

.bar button:hover, .iBlock button:hover, input[type=submit]:hover {
    color: #fff!important;
    background-color: #000!important;
}


.bar{
  display: block;
  width: 100%;
  text-align: center!important;
  margin-bottom: 1em;
}

.iButton{
  border: none;
  display: inline-block;
  padding: 0.1em 0.4em !important;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #20b2e2;
  background-color: white;
  text-align: center;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.3em !important;
  font-weight: bolder;
  border-radius: 15px !important;
}

/* Hide the button that should open and close the topnav on small screens */
.menuIcon {
  display: none;
  position: absolute;
  right: 0.4em;
  top: 2.6em;
  border: 1px solid #e7e7e8;
  padding: 0.2em 0.4em;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #20b2e2;
  text-align: center;
  cursor: pointer;
  font-size: large;
  border-radius: 4px;
  z-index: 15;
}


@media screen and (max-width: 790px) { /* RESPONSIVE MENU MOBILES */
  .bar {
    display: none;
  }
  .menuIcon {
    display: block;
  }

  .bar.responsive {
    display: block;
    position: relative;
    float: left;
    background-color: #20b2e2;
  }
  
  .bar.responsive button, form, input[type=submit] {
    float: left;
    text-align: left;
    width: 100% !important;
  }

  .bar.responsive button:hover, .iBlock button:hover, input[type=submit]:hover, button:active, .iBlock button:active, input[type=submit]:active  {
    color: #fff!important;
    background-color: #000!important;
}

  .userInfoBlock{
    display: none;
  }

  .content{
    margin-bottom: 3em;
  }
}

/* END MENU BAR RESPONSIVE */


.qButton{
  border: none;
  display: inline-block;
  padding: 0.1em 0.4em !important;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #20b2e2;
  text-align: center;
  cursor: pointer;
  font-size: 1em !important;
  font-weight: bolder;
  border-radius: 15px !important;
}




label {
  color:black;
}

input[type=text], select, textarea, .dateInput {
  width: 98%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left:1em;
  margin-right: 0.9em;
  resize: vertical;
  color: gray;
}

.logo{
  float: left;
  width: 5%;
  vertical-align: top;
}

.pageTitle{
  display: block;
  width: 100%;
  text-align: center!important;
}



.rightBlock{
  text-align:right;
}

.leftBlock{
  text-align:left;
}

.centerBlock{
  text-align:center;
}

.leftBlockHelp{
  text-align:left;
  width: 70%;
}


table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 2px 12px;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
  font-size: 1.2em;
}

.borderLine{
  border-top: 2px solid gray;
}

/* IEEE CSI TIMELINE CHANGES THIS PARAMET TO FIT SHORT TITLE FROM THE ORIGINAL VERSION */
.tl-timemarker .tl-timemarker-content-container {
  width: 125px !important;
}

.floatLeft{
  float: left;
  text-align: right;
  width: 40%;
  padding-right: 1em;
}
.floatRight{
  float: right;
  text-align: left;
  width: 50%;
  padding-left: 1em;
  vertical-align: middle;
}

.eventView{
  border: 1px solid gray;
  display: block;
  width: 90%;
  margin: auto;
  padding: 0.7em;
  height: 210px;
}

.dates{
  font-size: 0.8em;
}
.title{
  font-size: 2.2em;
  font-weight: bold;
}
.details{
  font-size: 0.9em;
}


#topBtn { /* GO TO THE TOP BUTTON */
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 5em; /* Place the button at the bottom of the page */
  right: 1em; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: solid 0.2em #e7e7e8; /* Add a border */
  outline: none; /* Remove outline */
  background-color: #20b2e2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.6em; /* add padding */
  border-radius: 6px; /* Rounded corners */
  font-size: 1.1em; /* Increase font size */
}

#topBtn:hover {
  background-color: black; /* Add a dark background on hover */
}

.helpImg{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 300px;
  max-width: 90%;
  margin-bottom: 1em;
}

.indexImg{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editBlock{
  margin: auto;
  text-align:center;
  padding-top: 1em;
}

.iBlock{
  text-align:left;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 1em 1em 0.3em 1em;
  margin: 1.3em 0 1.3em 0;
  border: #dddcdc 1px solid;
}

.formBlock{
  padding: 1em 0 2em 0;
}

.aBlock{
  text-align:left;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 1em;
  border: #dddcdc 1px solid;
}

.flex-container > div {
  background-color: #20b2e2;
  color: #333;
  margin: 1em;
  padding: 1em;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.tl-guidelines {
  background-color: #eeecec;
  color: black;
  padding: 2em;
}


.tl-howToNavegate{
  background-color: black;
  color: rgb(229, 226, 245);
  padding: 2em;
}

@media only screen and (min-width: 1230px) {
/* ==== For desktop: ===== */
  body{
    background-image: url(https://cis.ieee.org/images/files/template/cis-logo.png);
    background-repeat: no-repeat;
    background-position-x: 1em;
    background-position-y: 1em;
  }

  .content{
    width: 70%;
  }

}

@media only screen and (min-width: 790px) {
  /* For desktop: */
    .rightBlock{
      padding:10px 30px;
    }

    .formBlock{
      width: 80%;
      margin: auto;
      padding: 1em 0 1em 0;
    }

    #timeline-embed{
      margin-left: 1em;
      width: auto;
      height:700px !important;
    }

    .aBlock{
      margin: 2em;
    }

    .flex-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .flex-container > div {
      width: 25%;
      text-align: center;
    }

    .footerText{
      width: 100%;
    }  
    
  }

  @media screen and (max-width: 790px) { /* RESPONSIVE MENU MOBILES */
    .timeline-content{
      height: 670px !important;
    }

    #timeline-embed{
      height:670px !important;
    }

    .content{
      width: 90%;      
    }

    #eventNEW, #eventUPD, #editCancel, #dltCancel, #rejectRqst{
      margin-bottom: 5em;
    }

    .appTitle{
      background-color: black;
      color: white;
      position: absolute;
      top: 0;
      text-align: left;
    }

    .appTitle h1{
      font-size: 1.3em !important;
    }

    .pageTitle h2{
      font-size: 1.2em !important;
    }

  }
