
body,p {
  font-family: Arial, Verdana, sans-serif;
  color: #666;
  font-size: 1em;
  margin: auto;
}

.content{
  margin: auto;
  padding: 0.4em 1em 2em 1em;
}

.footer{
  background-color: black;
  color: white;
  font-size: 0.7em;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 15;
}

h1 {
  padding: 15px 0;
  color: #000;
}

.helpItem li{
  line-height: 1.7em;
}


.bar button, .iBlock button, .rightBlock button, input[type=submit] {
  border: none;
  display: inline-block;
  padding: 14px 12px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #20b2e2;
  text-align: center;
  cursor: pointer;
  font-size: large;
  border-radius: 4px;
}

.bar button:hover, .iBlock button:hover, input[type=submit]:hover {
    color: #fff!important;
    background-color: #000!important;
}

label {
  color:black;
}

input[type=text], select, textarea, .dateInput {
  width: 98%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left:1em;
  margin-right: 0.9em;
  resize: vertical;
  color: gray;
}

.logo{
  float: left;
  width: 5%;
  vertical-align: top;
}

.pageTitle{
  display: block;
  width: 100%;
  text-align: center!important;
}

.bar{
  display: block;
  width: 100%;
  text-align: center!important;
}

.rightBlock{
  text-align:right;
}

.leftBlock{
  text-align:left;
}

.centerBlock{
  text-align:center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 2px 12px;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
  font-size: 1.2em;
}

.borderLine{
  border-top: 2px solid gray;
}

/* IEEE CSI TIMELINE CHANGES THIS PARAMET TO FIT SHORT TITLE FROM THE ORIGINAL VERSION */
.tl-timemarker .tl-timemarker-content-container {
  width: 125px !important;
}

.floatLeft{
  float: left;
  text-align: right;
  width: 40%;
  padding-right: 1em;
}
.floatRight{
  float: right;
  text-align: left;
  width: 50%;
  padding-left: 1em;
  vertical-align: middle;
}

.eventView{
  border: 1px solid gray;
  display: block;
  width: 90%;
  margin: auto;
  padding: 0.7em;
  height: 210px;
}

.dates{
  font-size: 0.8em;
}
.title{
  font-size: 2.2em;
  font-weight: bold;
}
.details{
  font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
/* ==== For desktop: ===== */
  body{
    background-image: url(https://cis.ieee.org/images/files/template/cis-logo.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 30px;
  }
}
